<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "貸し出しノート", root_path, class: "navbar-brand", id: "logo" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path%></li>
      <li><%= link_to "履歴", '/all'%></li>
      <li><%= link_to "ユーザー", users_path %></li>
    </ul>
  </div>
</nav>
